{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align: center">PREVISÕES</h1>
    <div style="text-align:center">
    <div class="form">
        <form action="/predict" method="POST">
            <div class="content">
            <input type='longitude' name = 'longitude' id='longitude' placeholder = 'longitude' class="form-control">
            </div>
            <div class="content">
            <input type='latitude' name = 'latitude' id='latitude' placeholder = 'latitude' class="form-control">
            </div>
            <div class="content">
            <input type='housing_median_age' name = 'housing_median_age' id='housing_median_age' placeholder = 'housing_median_age' class="form-control">
            </div>
            <div class="content">
            <input type='total_rooms' name = 'total_rooms' id='total_rooms' placeholder = 'total_rooms' class="form-control">
            </div>
            <div class="content">
            <input type='total_bedrooms' name = 'total_bedrooms' id='total_bedrooms' placeholder = 'total_bedrooms' class="form-control">
            </div>
            <div class="content">
            <input type='population' name = 'population' id='population' placeholder = 'population' class="form-control">
            </div>
            <div class="content">
            <input type='households' name = 'households' id='households' placeholder = 'households' class="form-control">
            </div>
            <div class="content">
            <input type='median_income' name = 'median_income' id='median_income' placeholder = 'median_income' class="form-control">
            </div>
            <div class="content">
        <select type='ocean_proximity' name="ocean_proximity" id="ocean_proximity" class="form-control">
            <option value="NEAR OCEAN">NEAR OCEAN</option>
            <option value="NEAR BY">NEAR BY</option>
            <option value="ISLAND">ISLAND</option>
            <option value="INLAND">INLAND</option>
            <option value="<1H OCEAN"> >1H OCEAN </option>
        </select>
    </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Predict">Predict</button>
        </form>
    </div>
    <script src="{{ url_for("static", filename='js/bootstrap.min.js') }}"></script>
</div>
</div>
{% endblock %}